.ranking-container {
  margin-top: 30px;
  padding: 20px;
  background: #ffffff22;
  border-radius: 12px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.ranking-container h2 {
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #7a4141;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #243447;
  color: #fff;
  font-weight: 600;
}


th, td {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

tbody tr:nth-child(even) {
  background-color: #ffffff11; /* leve contraste no escuro */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff08;
}

td {
  color: white;
  background-color: transparent; /* deixa o blur brilhar */
}
